* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  background-color: rgb(255, 255, 255);
  height: 80px;
  top: 0%;
  position: sticky;
  line-height: 25%;
  margin-bottom: -10%;
}
.support {
  font-weight: bolder;
  font-size: 25px;
  color: #1a3da6;
  /* margin-bottom: 20%; */
  margin-top: 15px;
  line-height: 50%;

  display: flex;
  column-gap: 10px;
  align-items: center;
}
.support > img {
  width: 50px;
  height: 50px;
}
.sec {
  line-height: 35%;
  color: blue;
  /* margin-left: 42%; */
}
.sec :hover {
  background-color: rgb(183, 255, 255);
  color: black;
  text-align: center;
  transition: 0.5s ease-in;
  padding: 7px 7px 7px 7px;
  border-radius: 10px;
}
.h-d {
  padding: 10px 7px;
  margin-left: 8px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  line-height: 35px;
}
.fee {
  color: white;
  margin-left: 30px;
  padding: 16px 15px;
  padding-top: 17px;
  background-color: #1a3da6;
  font-size: 18px;
  text-decoration: none;
  line-height: 2px;
  border-radius: 10px;
  margin-top: 0px;
}
.bod {
  margin-top: 10%;
  background-color: #1a3da6;
  height: 500px;
  text-align: center;
}
.fin {
  padding-top: 100px;
  text-align: center;
  color: antiquewhite;
}
.pin {
  text-align: center;
  color: antiquewhite;
  padding-top: 20px;
}
.box {
  margin-top: 20px;
  margin-left: 23%;
  text-align: center;
  border: 1px;
  border-radius: 20px;
  height: 100px;
  background-color: white;
  width: 700px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.jok {
  width: 320px;
  height: 40px;
  border: 0px;
  font-size: 15px;
  margin-left: 10px;
  padding-left: 1px;
  padding-right: 20px;
}
button.app {
  display: flex;
  border-radius: 10px;
  /* margin-left: 100px;
margin-top: 30px; */
  border: 0px;
  font-size: 15px;
  height: 40px;
  background-color: #253a7a;
  cursor: pointer;
  padding: 10px 20px;
  align-items: center;
  column-gap: 15px;
  color: white;
}
.app > img {
  width: 15px;
  height: 15px;
}
.kip {
  margin-top: 45px;
}
.user {
  border-radius: 5px;
  font-size: 13px;
  margin-right: 5px;
  background-color: white;
  cursor: pointer;
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.Age {
  border-radius: 5px;
  border: 1px solid white;
  font-size: 13px;
  color: white;
  background-color: #344d95;
  margin-left: 5px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.gen {
  background-color: aliceblue;
  height: 570px;
}
.wok {
  text-align: center;
  background-color: aliceblue;
}
.How {
  padding-top: 60px;
  font-size: 20px;
}
.our {
  margin-top: 15px;
}
.sak {
  background-color: aliceblue;
  display: flex;
  height: 340px;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 200px;
}
.bro {
  background-color: white;
  border-radius: 10px;
  width: 250px;
  margin-top: 70px;
  text-align: center;
}
.bro > img {
  width: 70px;
  height: 70px;
  background-color: aliceblue;
  padding: 10px 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 50px;
}
.rol {
  height: 550px;
}
.ren {
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
}
.kit {
  text-align: center;
  margin-top: 15px;
}
.set {
  display: flex;
  height: 340px;
  justify-content: space-between;
  /* margin-right: 300px;
    margin-left: 300px; */
  justify-content: center;
  column-gap: 40px;
}
.min {
  background-color: white;
  border-radius: 10px;
  height: 330px;
  width: 300px;
  margin-top: 70px;
  text-align: center;
}
.min > img {
  width: 70px;
  height: 70px;
  background-color: aliceblue;
  padding: 10px 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 50px;
}
.cas {
  border-radius: 5px;
  margin-top: 15px;
  font-size: 13px;
  color: white;
  height: 25px;
  background-color: blue;
  cursor: pointer;
  border: 0px;
  width: 270px;
  padding: 10px 50px 25px;
}
.but {
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  margin-top: 10px;
  font-size: 13px;
  color: black;
  height: 25px;
  cursor: pointer;
  width: 270px;
  padding: 10px 50px 25px;
}
.end {
  background-color: rgb(0, 0, 122);
  height: 400px;
  padding: 50px 100px;
}
.foot {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  height: 250px;
}
.gom {
  color: white;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.gom > img {
  width: 30px;
  height: 30px;
}
.hub {
  color: #8898b0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  line-height: 32px;
}
.hom {
  color: white;
}
.kik {
  text-align: center;
  margin-top: 70px;
  color: #8898b0;
}
