* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
  border-bottom: 1px solid silver;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    column-gap: 10px;

    a {
      text-decoration: none;
      font-size: 1.5rem;
    }

    img {
      width: 50px;
    }
  }

  nav {
    display: flex;
    column-gap: 20px;
    align-items: center;
    font-size: 1.1rem;

    /* a:not(.getStarted) {
      text-decoration: none;
      color: black;
    } */
    a {
      text-decoration: none;
      color: black;
    }
    a.getStarted {
      padding: 10px;
      background-color: #1e3a8a;
      border-radius: 5px;
      color: white;
      font-weight: bolder;
    }
  }

  > section.mobileNavbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;

    display: none;
    flex-direction: column;
    background-color: #1e3a8a;
    justify-content: space-around;
    padding: 5px;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  background-color: #f8fafc;

  > section {
    width: 40%;
    /* height: 350px; */
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    > h1 {
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
    > p {
      margin-bottom: 20px;
    }

    > form {
      display: flex;
      flex-direction: column;

      > label {
        font-weight: bold;
      }

      > input {
        outline: none;
        margin: 15px 0px;
        padding: 15px;
        border-radius: 5px;
        border: none;
        background-color: #f8fafc;
      }

      > button {
        padding: 10px;
        background-color: #1e3a8a;
        border: none;
        color: white;
        border-radius: 5px;
        font-weight: bold;
      }
    }
    > div {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 15px;
      column-gap: 10px;

      > a {
        text-decoration: none;
      }
    }
  }
}

@media screen and (width<670px) {
  main {
    padding-left: 20px;
    padding-right: 20px;

    section {
      width: 100%;
    }
  }
}

@media screen and (width<470px) {
  body {
    header {
      nav {
        display: none;
      }
      > section.mobileNavbar {
        display: flex;
      }
    }
  }
}
